.panel-default{
	border-radius: 0;
	-webkit-box-shadow: 3px 6px 15px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 6px 15px -2px rgba(0,0,0,0.75);
	box-shadow: 3px 6px 15px -2px rgba(0,0,0,0.75);
	border: 0px;
}
.panel-default .panel-heading{
	background-color: #ad1d1d;
	color: #fff;
	border-radius: 0;
	border: 0px;
}
.iconInput { position: relative }
.iconInput i { 
	position: absolute;
  	top:2px; 
  	right: 5px;
  	z-index:10;
  	border:none;
  	background:transparent;
  	outline:none;
	color: #555; 
}